								{% load static %}
								<section id="banner">
									<div class="content">
										<header>
											<h1>Box Office</h1>
											<p>For your entertainment</p>
										</header>
										<p>Enjoy the movie with your family</p>
										<ul class="actions">
											<li><a href="#" class="button big">See More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="{% static 'images/suicide_squad.jpg' %}" alt="" />
									</span>
								</section>