					{% load static %}
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/home/">Homepage</a></li>
										<li><a href="/movie/">Movies</a></li>
										<li><a href="/contact/">Contact us</a></li>
									</ul>
								</nav>

							
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<ul class="contact">
										<li class="fa-envelope-o"><a href="#">bolla.prathap79@gmail.com</a></li>
										<li class="fa-phone">(+91) XXXX-XXX-XXX </li>
										<li class="fa-home">Hyderabad<br />
										5000082</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Box Office. All rights reserved.</p>
								</footer>

						</div>
					</div>